<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Content/javaScript.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="http://susnet.se/susnetstat.js">
    </script>
    <script type="text/javascript">
        susnet_counter_id = 159747;
        susnet_security_code = '138018';
        susnet_node = 0;
        register();
    </script>
    <script src="http://susnet.nu/addStatAction.do?id=159747&amp;size=1271x715&amp;referer=http%3A//jkppf.se/"></script>
</head>
<body>
    <div class="header-page">
        <div class="header-container">
            <a  href="~/home/index">
                <img class="hidden-xs" src="~/Content/Images/jkppf-logo.png" style="width:75px;float:left;">
                <div class="titles-header">
                    Jönköpings Posthistoriska Förening<br />
                    <span style="font-size:30px; letter-spacing:8px;">KALENDER</span><br />
                    @ViewBag.Title
                </div>
            </a>
            
            <div class="hidden-sm hidden-xs statistics">
                Besökare totalt:
                <script type="text/javascript">getTotalUniqueVisitors();</script>
                <br>
                Besökare idag:
                <script type="text/javascript">getTodayUniqueVisitors();</script>
                <br>
                Besökare just nu:
                <script type="text/javascript">getOnlineVisitors();</script>
            </div>
        </div>
    </div>
    <div class="body-page">
        @RenderBody()
        <div class="login-admin">
            @if (Session["user"] != null)
            {
                @Html.ActionLink("Logga ut", "Logout", "Home")
            }
            else
            {
                @Html.ActionLink("Admin", "Admin", "Home")
            }
        </div>
    </div>
</body>
</html>
