@model Kalender_BL.Activity

@{
    ViewBag.Title = "Redigera Aktivitet";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("input:text.date-txb").datepicker({ dateFormat: "dd/MM/yy" });
        $("input, select").addClass("form-control");
        $("form").addClass("form-horizontal");
        $(".editor-field").addClass("col-sm-5");
        $("label").addClass("control-label col-sm-2");

    });
</script>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Fel inmatning, kolla fälten nedan!")

        <fieldset class="create-fieldset">
            <legend class="create-legend">Redigera Activitet</legend>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Datum)
                <div class="editor-field">
                    @Html.EditorFor(model => model.Datum)
                    @Html.ValidationMessageFor(model => model.Datum)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Activitet)
                <div class="editor-field">
                    @Html.EditorFor(model => model.Activitet)
                    @Html.ValidationMessageFor(model => model.Activitet)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arrangor)

                <div class="editor-field">
                    @Html.HiddenFor(model => model.Arrangor)
                    @Html.DisplayFor(model => model.Arrangor)
                    @Html.ValidationMessageFor(model => model.Arrangor)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ort)
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ort)
                    @Html.ValidationMessageFor(model => model.Ort)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Namn)

                <div class="editor-field">
                    @Html.EditorFor(model => model.Namn)
                    @Html.ValidationMessageFor(model => model.Namn)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tel)

                <div class="editor-field">
                    @Html.EditorFor(model => model.Tel)
                    @Html.ValidationMessageFor(model => model.Tel)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email)

                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hemsida)

                <div class="editor-field">
                    @Html.EditorFor(model => model.Hemsida)
                    @Html.ValidationMessageFor(model => model.Hemsida)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MerInfo)

                <div class="editor-field">
                    @Html.TextAreaFor(model => model.MerInfo, new { @class = "form-control col-sm-5" })
                    @Html.ValidationMessageFor(model => model.MerInfo)
                </div>
            </div>

            <p>
                <input class="btn btn-md btn-primary" type="submit" value="Uppdatera" />
            </p>
        </fieldset>
    }
</div>
    <div>
        @Html.ActionLink("Tillbaka", "Index")
    </div>

