@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Kalender_BL.Activity>

@{
    ViewBag.Title = "Frimärks-och vykorts kalendern";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<div class="activity-filter">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        if (ViewBag.ActivityList != null)
        {
            <select name="filter">
                <option value="showAll">Alla aktiviteter</option>
                @foreach (var item in ViewBag.ActivityList)
                {
                    <option value="@item">@item</option>
                }
            </select>
        }
        <input type="submit" value="Sök" />
    }
</div>
<div class="table-responsive">
    <table id="tbl-data" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Activitet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Arrangor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Ort)
                </th>
                @if (Session["user"] != null)
                {
                    <th>
                        Admin Funktioner
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                using (Html.BeginForm("Delete", "Home", new { aDatum = item.Datum, aNamn = item.Arrangor }))
                {
                    <tr title="Namn:@item.Namn
                        <br>E-post: @item.Email
                        <br>Mobil: @item.Tel
                        <hr>Mer info: @item.MerInfo">
                        <td>
                            @{
                    string datum = item.Datum.Date.ToString("dd/MM-yyyy");
                            }
                            @Html.DisplayFor(modelItem => datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activitet)
                        </td>
                        <td>
                            <a href="@item.Hemsida" target="_blank">@item.Arrangor</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ort)
                        </td>
                        @if (Session["user"] != null)
                        {
                            <td>
                                @Html.ActionLink("Redigera", "EditActivity", new { aDatum = item.Datum, aNamn = item.Arrangor }) |
                                <input type="submit" value="Ta bort"
                                       onclick="return confirm('Ta bort?');">
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="container-table">
    @Html.PagedListPager(Model, page => Url.Action("index", new { page, filter = Request.QueryString["filter"] }))
</div>
<p class="btn-create">

    @Html.ActionLink("Ny aktivitet", "CreateActivity")
</p>