@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Kalender_BL.Activity>

@{
    ViewBag.Title = "Frimärks-och vykorts kalendern";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<div class="activity-filter">
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="print-div">
        @if (ViewBag.printStatus == null)
        {
            <button class="btn btn-default btn-sm" name="print" value="print">
                <span class="glyphicon glyphicon-print"></span>
                Utskriftsversion
            </button>
        }
        else
        {
            @Html.ActionLink("tillbaka", "Index", "Home", null, new { @class = "text-primary glyphicon glyphicon-chevron-left" })
            <button id="btnPrint" class="btn btn-default btn-sm" name="print" value="print" onclick="printData()">
                <span class="glyphicon glyphicon-print"></span>
                Skriv ut
            </button>
        }
    </div>
    if (ViewBag.ActivityList != null)
    {
            <select name="filter">
                <option value="showAll">Alla aktiviteter</option>
                @foreach (var item in ViewBag.ActivityList)
                {
                    <option value="@item">@item</option>
                }
            </select>
    }
    <input class="btn btn-default btn-sm" type="submit" value="Sök" />
}
</div>
<div class="table-responsive">
    <table id="tbl-data" class="table">
        <thead>
            <tr>
                <th>
                    <span class="glyphicon glyphicon-sort-by-attributes" style="padding-right:10px;"></span>
                    @Html.ActionLink("Datum", "Index", new { sorting = ViewBag.SortingParaDate, filter = Request.QueryString["filter"] }, new { @class = "text-primary" })

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Activitet)
                </th>
                <th>
                    <span class="glyphicon glyphicon-sort-by-attributes" style="padding-right:10px;"></span>
                    @Html.ActionLink("Arrangör", "Index", new { sorting = ViewBag.SortingParaArr, filter = Request.QueryString["filter"] })
                </th>
                <th>
                    <span class="glyphicon glyphicon-sort-by-attributes" style="padding-right:10px;"></span>
                    @Html.ActionLink("ort", "Index", new { sorting = ViewBag.SortingParaOrt, filter = Request.QueryString["filter"] })
                </th>
                @if (Session["user"] != null)
                {
                    <th>
                        Admin Funktioner
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                using (Html.BeginForm("Delete", "Home", new { ID = item.ID }))
                {
                    <tr title="Namn:@item.Namn
                        <br>E-post: @item.Email
                        <br>Mobil: @item.Tel
                        <hr>Mer info: @item.MerInfo">
                        <td>
                            @{
                    string datum = item.Datum.ToString("yy-MM-dd");
                            }
                            @Html.DisplayFor(modelItem => datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activitet)
                        </td>
                        <td>
                            <a href="@item.Hemsida" target="_blank">@item.Arrangor</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ort)
                        </td>
                        @if (Session["user"] != null)
                        {
                            <td>
                                @Html.ActionLink("Redigera", "EditActivity", new { ID = item.ID}) |
                                <input type="submit" value="Ta bort"
                                       onclick="return confirm('Ta bort?');">
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="container-table">
    @Html.PagedListPager(Model, page => Url.Action("index", new { page, filter = Request.QueryString["filter"], sorting = Request["sorting"] }))
</div>
<p class="btn-create">
    @Html.ActionLink("Ny aktivitet", "CreateActivity")
</p>